#item {
	width: var(--item-width);
	height: var(--item-height);
	border-radius: 25px;
	-ms-word-break: break-all;
	word-break: break-all;
	 word-break: break-word;
	-webkit-hyphens: auto;
		 -moz-hyphens: auto;
			-ms-hyphens: auto;
					hyphens: auto;
	padding: 5px;
}
#item #title {
		font-size: var(--item-title-font-size);
    margin: 5px;
    text-align: var(--item-text-align);
}

#item #meta {
		font-size: var(--item-meta-font-size);
		margin: 0 5px 0 5px;
		text-align: var(--item-meta-text-align);
}

#item_list {
	position: fixed;
	height: calc(90% - var(--input_scale));
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
}

#last_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px
}

#current_items {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
	padding: 10px;
}

.section_title {
	font-size: var(--title-font-size);
	margin: 15px;
	text-align: center;
	color: var(--list-text);
}

#last_items #item {
	background-color: var(--list-last);
	color: var(--list-last-text);
	border: var(--list-last-border);
}

#last_items #item #meta {
	color: var(--list-last-meta);
}

#current_items #item {
	background-color: var(--list-active);
	color: var(--list-active-text);
	border: var(--list-active-border);
}

#current_items #item #meta {
	color: var(--list-active-meta);
}

@media (hover: hover) and (pointer: fine) {
	#item {
		cursor: pointer;
	}

	#last_items #item:hover
	{
		background-color: var(--list-last-hover);
		color: var(--list-last-hover-text);
		border: var(--list-last-hover-border);
	}

	#last_items #item:hover > #meta {
		color: var(--list-last-hover-meta);
	}

	#current_items #item:hover {
		background-color: var(--list-active-hover);
		color: var(--list-active-hover-text);
		border: var(--list-active-hover-border);
	}

	#current_items #item:hover > #meta {
		color: var(--list-active-hover-meta);
	}
}
