#item {
	width: var(--item_scale);
	height: var(--item_scale);
	border-radius: 25px;
	border: 0px;
	-ms-word-break: break-all;
	word-break: break-all;
	 word-break: break-word;
	-webkit-hyphens: auto;
		 -moz-hyphens: auto;
			-ms-hyphens: auto;
					hyphens: auto;
	padding: 5px;
	cursor: pointer;
}
#item #title {
    font-size: 4vw;
    margin: 5px;
}

#item #meta {
		color: var(--list-meta);
    font-size: 3vw;
}

#item_list {
	position: fixed;
	height: calc(90% - var(--input_scale));
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
}

#last_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px
}

#current_items {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
	padding: 10px;
}

.section_title {
	font-size: 5vw;
	margin: 15px;
	text-align: center;
	color: var(--list-text);
}

#last_items #item {
	background-color: var(--list-last);
	color: var(--list-last-text);
}
#last_items #item:hover
{
	background-color: var(--list-last-hover);
	color: var(--list-last-hover-text);
}

#current_items #item {
	background-color: var(--list-active);
	color: var(--list-active-text);
}

#current_items #item:hover {
	background-color: var(--list-active-hover);
	color: var(--list-active-hover-text);
}
