* {
	margin:0px;
	padding:0px;
}

@media (orientation: portrait) {
	:root {
		--item_scale: max(75px, 27vw);
		--item-title-font-size: max(10px, 4vw);
		--item-meta-font-size: max(8px, 3vw);
		--input_scale: max(20px, 10vw);
		--search-font-size: max(10px, 3.5vw);
		--title-font-size: max(15px, 5vw);
		--menu_button_size: max(25px, 9vw);
	}
}
@media (orientation: landscape) {
	:root {
		--item_scale: max(75px, min(250px, min(22vw, 22vh)));/*min(27vw, 175px);*/
		--item-title-font-size: max(10px, min(40px, min(3.5vw, 3.5vh)));
		--item-meta-font-size: max(8px, min(25px, min(2.5vw, 2.5vh)));
		--input_scale: max(20px, min(100px, min(10vw, 10vh)));
		--search-font-size: max(10px,min(35px, min(3.5vw, 3.5vh)));
		--title-font-size: max(15px, min(50px, min(5vw, 5vh)));
		--menu_button_size: max(25px, min(100px, min(9vw, 9vh)));
	}
}

body {
	height: 100%;
	width: 100%;
	background-color: var(--list);
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none;
}

#inputarea {
	display: flex;
	flex-direction: row;
	position: fixed;
	width: 80%;
	left: 10%;
	bottom: 5%;
	height: var(--input_scale);
	border: var(--search-border);
	border-radius: 25px;
	overflow: hidden;
	z-index: 10;
}

#inputarea > * {
	border: 0px;
	font-size: var(--search-font-size);
	color: black;
	background-color: var(--search);
	color: var(--search-text);
}

#inputarea input {
	text-align: center;
	padding: 5px;
	height: calc(100% - 10px);
	width: 100%;
	z-index: 0;
}

#inputarea button {
	height: 100%;
	display: none;
	position: relative;
	right: 0px;
	top: 0px;
	border: 0px;
	border-left: var(--search-button-border);
	width: var(--input_scale);
	background-color: var(--search-button);
	color: var(--search-button-text);
	z-index: 1;
}

@media (hover: hover) and (pointer: fine) {
	#inputarea input:hover {
		background-color: var(--search-hover);
		color: var(--search-hover-text);
	}

	#inputarea button:hover {
		cursor: pointer;
		border-left: var(--search-button-hover-border);
		background-color: var(--search-button-hover);
		color: var(--search-button-hover-text);
	}
}
