* {
	margin:0px;
	padding:0px;
}
:root {
		--input_scale: 10vw;
    --item_scale: 27vw;
}
body {
	height: 100%;
	width: 100%;
	background-color: #49595D;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none;
}

#inputarea {
	display: flex;
	flex-direction: row;
	position: fixed;
	width: 80%;
	left: 10%;
	bottom: 5%;
	height: var(--input_scale);
	border-radius: 25px;
	overflow: hidden;
	z-index: 10;
}

#inputarea > * {
	border: 0px;
	font-size: 3.5vw;
	color: black;
	background-color: white;
}

#inputarea input {
	text-align: center;
	padding: 5px;
	height: calc(100% - 10px);
	width: 100%;
	z-index: 0;
}
#inputarea button {
	height: 100%;
	display: none;
	position: relative;
	right: 0px;
	top: 0px;
	width: var(--input_scale);
	z-index: 1;
}

#inputarea button:hover {
	cursor: pointer;
	background-color: rgb(222, 222, 222);
}
