/*
:root {
  --popup: #80908E;
  --popup-close: #909F9DFF;
  --popup-close-hover: #92AAA2FF;
  --popup-close-text: black;

  --popup-button: #909F9DFF;
  --popup-button-text: black;
  --popup-button-hover: #92AAA2FF;

  --menu: #485858;
  --menu-button: #80908E;
  --menu-button-hover: #92AAA2FF;
  --menu-button-text: white;
}
*/

:root {
  --popup: #80908E;
  --popup-title: white;
  --popup-close: #909F9DFF;
  --popup-close-text: white;
  --popup-close-hover: #92AAA2FF;
  --popup-close-hover-text: white;

  --popup-button: #909F9DFF;
  --popup-button-text: black;
  --popup-button-hover: #92AAA2FF;
  --popup-button-hover-text: black;

  --menu: #485858;
  --menu-button: #80908E;
  --menu-button-text: white;
  --menu-button-hover: #92AAA2FF;
  --menu-button-hover-text: white;

  --list: #49595D;
  --list-text: white;

  --list-active: #F06870;
  --list-active-text: white;
  --list-active-hover: #f27b81ff;
  --list-active-hover-text: white;

  --list-last: #68B8A8;
  --list-last-text: white;
  --list-last-hover: #79beb1ff;
  --list-last-hover-text: white;

  --search: white;
  --search-text: black;
  --search-hover: white;
  --search-hover-text: black;

  --search-button: white;
  --search-button-text: black;
  --search-button-hover: rgb(222, 222, 222);
  --search-button-hover-text: black;
}

/*
:root {
  --popup: rgba(20, 20, 20);
  --popup-text: white;

  --popup-close: black;
  --popup-close-text: white;
  --popup-close-hover: rgba(10, 10, 10);
  --popup-close-hover-text: green;

  --popup-button: rgba(30, 30, 30);
  --popup-button-text: white;
  --popup-button-hover: rgba(20, 20, 20);
  --popup-button-hover-text: green;

  --menu: rgba(10, 10, 10);

  --menu-button: rgba(30, 30, 30);
  --menu-button-text: white;
  --menu-button-hover: rgba(40, 40, 40);
  --menu-button-hover-text: green;

  --list: black;
  --list-text: white;

  --list-active: green;
  --list-active-text: white;
  --list-active-hover: lime;
  --list-active-hover-text: blue;

  --list-last: red;
  --list-last-text: white;
  --list-last-hover: magenta;
  --list-last-hover-text: yellow;

  --search: blue;
  --search-text: green;
  --search-hover: rgb(222, 222, 222);
  --search-hover-text: green;

  --search-button: white;
  --search-button-text: blue;
  --search-button-hover: magenta;
  --search-button-hover-text: white;
}
*/
