:root {
  --toast-size: 10vw;
}

#toast {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: var(--toast-size);
  color: var(--toast-text);
  background-color: var(--toast);
  border: var(--toast-border);
  bottom: calc(10% + var(--input_scale));
  left: 10%;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
}

#toast #message {
  display: flex;
  width: calc(100% - var(--toast-size)*2);
  height: 100%;
  font-size: 3vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

#toast #bt_close {
  position: absolute;
  right: 0px;
  top: 0px;
  width: var(--toast-size);
  padding: 5px;
  height: var(--toast-size);
  border-radius: 0px 25px 25px 0px;
  border: 0px;
  color: var(--toast-button-text);
  border-left: var(--toast-button-border);
  background-color: transparent;
  z-index: 2;
  font-size: 3vw;
  cursor: pointer;
}

#toast #timer_bg {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: var(--toast-progress);
}
