:root {
  --tutorial_button_height: 50px;
}
#tutorial_popup {
  position: fixed;
  bottom: calc(10% + var(--input_scale));
  left: 10%;
  width: 80%;
  background-color: var(--popup);
  z-index: 1000;
  border-radius: 25px;
  padding-bottom: calc(var(--tutorial_button_height) + 5px);
}

#tutorial_popup p {
  text-align: center;
  color: var(--popup-button-text);
  font-size: 100%;
  margin-left: 5px;
  margin-right: 5px;
}
#tutorial_popup #title {
  font-size: 150%;
  margin: 5px;
}

#tutorial_popup button {
  background-color: var(--popup-button);
  color: var(--popup-button-text);
  width: 100px;
  height: var(--tutorial_button_height);
  border: 0px;
}
#tutorial_popup button:hover {
  background-color: var(--popup-button-hover);
  color: var(--popup-button-hover-text);
  cursor: pointer;
}

#tutorial_popup #cancel {
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-radius: 0px 25px 0px 25px;
}

#tutorial_popup #next {
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 25px 0px 25px 0px;
}
